<?xml version="1.0"?>
<ruleset name="OkuribitoLaravel Coding Standards">
  <description>The coding standard for OkuribitoLaravel.</description>

  <file>src</file>
  <file>tests</file>

  <arg name="basepath" value="."/>
  <arg name="extensions" value="php"/>
  <arg name="report" value="full"/>
  <arg name="colors"/>
  <arg name="parallel" value="75"/>
  <arg value="p"/>

  <rule ref="PSR12"/>
</ruleset>
